---
- name: Install IIS
  block:
    - name: Install IIS
      ansible.windows.win_feature:
        name: Web-Server
        state: present
      notify: IIS_running
      timeout: 600

  rescue:
    - name: Retry iis due to WINRM issues
      ansible.windows.win_feature:
        name: Web-Server
        state: present
      notify: IIS_running

- name: Insert webpage formatting
  block:
    - name: Insert webpage formatting
      ansible.windows.win_copy:
        src: website/
        dest: C:\Inetpub\wwwroot\
      tags:
        - updatewin
  rescue:
    - name: Retry webpage formatting due to WINRM issues
      ansible.windows.win_copy:
        src: website/
        dest: C:\Inetpub\wwwroot\
      tags:
        - updatewin

- name: Insert Index Page for webpage
  block:
    - name: Insert Index Page for webpage
      ansible.windows.win_template:
        src: templates/indexcomplex.html.j2
        dest: C:\Inetpub\wwwroot\index.html
      tags:
        - updatewin
  rescue:
    - name: Retry Index Page for webpage due to WINRM issues
      ansible.windows.win_template:
        src: templates/indexcomplex.html.j2
        dest: C:\Inetpub\wwwroot\index.html
      tags:
        - updatewin

- name: Remove Default Site
  block:
    - name: Remove Default Site
      microsoft.iis.website:
        name: Default Web Site
        state: absent
  rescue:
    - name: Remove Default Site again due to WINRM
      microsoft.iis.website:
        name: Default Web Site
        state: absent

- name: Configure site
  block:
    - name: Configure site
      microsoft.iis.website:
        name: Ansible Tower
        physical_path: C:\inetpub\wwwroot
        state: started
        bindings:
          add:
            - port: 80
      notify: IIS_running
  rescue:
    - name: Configure site twice due to WinRM
      microsoft.iis.website:
        name: Ansible Tower
        physical_path: C:\inetpub\wwwroot
        state: started
        bindings:
          add:
            - port: 80
      notify: IIS_running

- name: Copy Cert
  block:
    - name: Copy Cert
      ansible.windows.win_copy:
        src: /certs/certificate.pfx
        dest: C:\Inetpub\wwwroot\web_certificate.pfx
  rescue:
    - name: Retry Copy Cert due to WINRM issues
      ansible.windows.win_copy:
        src: /certs/certificate.pfx
        dest: C:\Inetpub\wwwroot\web_certificate.pfx

- name: Install Cert
  block:
    - name: Install certificate
      ansible.windows.win_certificate_store:
        path: C:\Inetpub\wwwroot\web_certificate.pfx
        file_type: pkcs12
        state: present
        password: "{{ windowspassword }}"
        store_location: LocalMachine
        key_storage: machine
      register: thumbprint
  rescue:
    - name: Install certificate twice due to WinRM
      ansible.windows.win_certificate_store:
        path: C:\Inetpub\wwwroot\web_certificate.pfx
        file_type: pkcs12
        state: present
        password: "{{ windowspassword }}"
        store_location: LocalMachine
        key_storage: machine
      register: thumbprint

- name: Configure bindings
  block:
    - name: Configure site bindings
      microsoft.iis.website:
        name: Ansible Tower
        state: started
        bindings:
          add:
            - port: "443"
              protocol: https
              certificate_hash: "{{ thumbprint.thumbprints[0] }}"
      notify: IIS_running
  rescue:
    - name: Configure site bindings
      microsoft.iis.website:
        name: Ansible Tower
        state: started
        bindings:
          add:
            - port: "443"
              protocol: https
              certificate_hash: "{{ thumbprint.thumbprints[0] }}"
      notify: IIS_running
